.site-header p {
  -webkit-text-fill-color: white;
  margin-bottom: 1px;
}
.message--unread time {
  -webkit-text-fill-color: red;
  font-size: 12px;
  text-align: center;
}
.message:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
